#[latest-5114082]
#name=latest-5114082
#enabled=1
#baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/oracle_linux6/latest/
#gpgcheck=0
#repo_gpgcheck=0
[latest-541412]
name=latest-541412
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/OracleLinux6/latest/
gpgcheck=0
repo_gpgcheck=0
