[baseos-18991]
name=baseos-18991
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/OracleLinux8/baseos/
gpgcheck=0
repo_gpgcheck=0

[appstream-36997]
name=appstream-36997
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/OracleLinux8/appstream/
gpgcheck=0
repo_gpgcheck=0
