[baseos-8392896]
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/OracleLinux9/baseos/
gpgcheck=0
repo_gpgcheck=0

[appstream-8381563]
name=appstream-8381563
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/OracleLinux9/appstream/
gpgcheck=0
repo_gpgcheck=0
