[subscription-manager_el6-1143264]
name=subscription-manager_el6-1143264
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/SubscriptionManager/subscription-manager_el6/
gpgcheck=0
repo_gpgcheck=0
