[subscription-manager_el8-1123452]
name=subscription-manager_el8-1123452
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/SubscriptionManager/subscription-manager_el8/
gpgcheck=0
repo_gpgcheck=0
