[subscription-manager_el9-8438214]
name=subscription-manager_el9-8438214
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/SubscriptionManager/subscription-manager_el9/
gpgcheck=0
repo_gpgcheck=0
