[subscription-manager_el6_i386-4166590]
name=subscription-manager_el6_i386-4166590
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/SubscriptionManager/subscription-manager_el6_i386/
gpgcheck=0
repo_gpgcheck=0
