[subscription-manager_el7-1137086]
name=subscription-manager_el7-1137086
#[subscription-manager_el7-436892]
#name=subscription-manager_el7-436892
enabled=1
baseurl={{ foreman_info.url }}/pulp/content/{{ foreman_info.org }}/Library/custom/SubscriptionManager/subscription-manager_el7/
gpgcheck=0
repo_gpgcheck=0
